header {
  height: 75px;
  padding: 1rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

/** nav*/
.carousel-inner img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.nav-item{
  padding: 8px 16px;
}

.top_button {
  font-weight: lighter;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  color: rgb(1, 9, 1);
  border: none;
  background-color: lightcyan;
  font-size: 13px;
}
.top_button:active {
  background-color: rgb(122, 205, 122);
  transform: scale(1.02);
  transition: 0.2s ease-in-out;
}