* {
  font-style: inherit;
  font-weight: inherit;
}

body {
  padding-top: 80px;
}

#d1 {
  height: 300px;
}
#d1_1 {
  height: 300px;

}
#d1_2 {
  height: 300px;
  background-color: #fbfbfb;
  padding-top:75px;
  min-width: 320px;
  z-index: 1;
}

.lecture {
  height: 350px;
  margin-right: 2em;
}

#d4 {
	padding-top: 10px;
  height: 400px;
  white-space:nowrap; 
  overflow-x: auto;
}

#d4::-webkit-scrollbar {
    width: 10px; /*스크롤바의 너비*/
}

#d4::-webkit-scrollbar-thumb {
    background-color: #bae456; /*스크롤바의 색상*/
    background-clip: padding-box;
    border: 2px solid transparent;
}

#d4::-webkit-scrollbar-track {
    background-color: transparent; /*스크롤바 트랙 색상*/
}

#d5 {
	padding-top: 10px;
  height: 400px;
    white-space:nowrap; 
  overflow-x: auto;
}
#d5::-webkit-scrollbar {
    width: 10px; /*스크롤바의 너비*/
}

#d5::-webkit-scrollbar-thumb {
    background-color: #bae456; /*스크롤바의 색상*/
    background-clip: padding-box;
    border: 2px solid transparent;
}

#d5::-webkit-scrollbar-track {
    background-color: transparent; /*스크롤바 트랙 색상*/
}

#d6 {
	padding-top: 10px;
	 height: 310px;
	white-space:nowrap; 
	 overflow-x: auto;
}
#d6::-webkit-scrollbar {
    width: 10px; /*스크롤바의 너비*/
}

#d6::-webkit-scrollbar-thumb {
    background-color: #bae456; /*스크롤바의 색상*/
    background-clip: padding-box;
    border: 2px solid transparent;
}

#d6::-webkit-scrollbar-track {
    background-color: transparent; /*스크롤바 트랙 색상*/
}

#d7 {
  height: 300px;
}

#d8 {
  height: 450px;
  overflow:auto;
}

.nav-item {
  padding-right: 0.5rem;
}

/* 드롭다운 자동 펼치기 */
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.carousel-item {
  height: 280px;
}

/**Search_bar*/
.search-bar {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 450px;
  height: 50px;
  margin-bottom: 40px;
}

.search-bar input {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 24px;
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding-left: 24px;
  padding-right: 24px;
}
.search-bar input:focus {
  outline: none;
}

.seach-logo {
  position: absolute;
  border: none;
  width: 20px;
  height: 15px;
  font-size: 20px;
  top: 10px;
  right: 30px;
  color: gray;
  background-color: white;
  cursor: pointer;
}
.seach-logo:active {
  color: green;
  transform: scale(1.2);
}

/**로그인폼*/
.submit {
  width: 80%;
    margin: 0 auto;
}
.submit input {
  width: 100%;
  line-height: 40px;
  height: 60px;
  border: 0;
  outline: none;
  border-radius: 5px;
  background: linear-gradient(to left, rgb(32, 237, 39), rgb(198, 233, 55));
  color: white;
  font-size: 1.3em;
  font-weight: bold;
  letter-spacing: 2px;
}
.login a {
	 font-size: 13.5px;
	text-decoration: none;
	color: black;
}

/**강의 상단*/
.hot {
  margin-top:2.2em;
  margin-bottom:10px;
  height: 40px;
  font-weight: bold;
  font-size: 23px;
}
.hot a {
  text-decoration: none;
  color: black;
}
.hot a:hover {
  color: yellowgreen;
}

/**카드*/
.card {
  margin-right: auto;
  margin-left: auto;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border: none;
  width: 200px;
}
.card img {
  height: 10em;
}
.card-text {
  text-align: left !important;
  font-size: 1.2rem;
}
.card:hover {
  transform: scale(1.03);
  transition: 0.3s ease-in-out;
  cursor:pointer;
  z-index: 10;
  color: black;
}
