<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
				  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
				  "http://mybatis.org/dtd/mybatis-3-config.dtd">
				  
<configuration>
	
	<typeAliases>
		<typeAlias type="com.seok.home.lecture.LectureDTO" alias="LectureDTO"/>
		<typeAlias type="com.seok.home.lecture.LectureFileDTO" alias="LectureFileDTO"/>
		<typeAlias type="com.seok.home.member.MemberDTO" alias="MemberDTO"/>
		<typeAlias type="com.seok.home.lecture.add.LectureAddDTO" alias="LectureAddDTO" />
		<typeAlias type="com.seok.home.lecture.teacher.TeacherDTO" alias="TeacherDTO" />
		<typeAlias type="com.seok.home.cart.CartDTO" alias="CartDTO" />
		<typeAlias type="com.seok.home.s_board.StudyBoardDTO" alias="StudyBoardDTO"/>
		
	</typeAliases>

</configuration>