<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
				  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
				  "http://mybatis.org/dtd/mybatis-3-config.dtd">
				  
<configuration>
	
	<typeAliases>
	
		<typeAlias type="com.seok.home.lecture.LectureDTO" alias="LectureDTO"/>
		<typeAlias type="com.seok.home.lecture.LectureFileDTO" alias="LectureFileDTO"/>
		<typeAlias type="com.seok.home.member.MemberDTO" alias="MemberDTO"/>
		<typeAlias type="com.seok.home.member.RoleDTO" alias="RoleDTO"/>
		<typeAlias type="com.seok.home.lecture.add.LectureAddDTO" alias="LectureAddDTO" />
		<typeAlias type="com.seok.home.lecture.teacher.TeacherDTO" alias="TeacherDTO" />
		<typeAlias type="com.seok.home.cart.CartDTO" alias="CartDTO" />
		<typeAlias type="com.seok.home.lecture.LectureVideoDTO" alias="LectureVideoDTO"/>
		<typeAlias type="java.util.List" alias="List"/>
		<typeAlias type="com.seok.home.s_board.StudyBoardDTO" alias="StudyBoardDTO"/>
		<typeAlias type="com.seok.home.s_board.Pager" alias="Pager"/>
		<typeAlias type="java.lang.Long" alias="Long"/>
		<typeAlias type="com.seok.home.b_comment.CommentDTO" alias="CommentDTO"/>
		<typeAlias type="com.seok.home.l_board.LectureBoardDTO" alias="LectureBoardDTO"/>
		<typeAlias type="com.seok.home.l_board.L_heartDTO" alias="L_heartDTO"/>
		<typeAlias type="com.seok.home.f_board.FreeBoardDTO" alias="FreeBoardDTO"/>
		<typeAlias type="com.seok.home.n_board.NoticeDTO" alias="NoticeDTO"/>
		<typeAlias type="com.seok.home.b_comment.NoticeReplyDTO" alias="NoticeReplyDTO"/>
		
		<typeAlias type="com.seok.home.pay.OrderDTO" alias="OrderDTO"/>
		<typeAlias type="com.seok.home.pay.PaymentDTO" alias="PaymentDTO"/>
		<typeAlias type="com.seok.home.pay.RefundDTO" alias="RefundDTO"/>
		<typeAlias type="com.seok.home.b_comment." alias="BoardFileDTO"/>
	</typeAliases>

</configuration>