main {
  margin-top: 8em;
}

/**Search_bar*/
.search-bar {
  position: relative;
  margin-top: 12px;
  width: 380px;
  height: 45px;
}

.search-bar input {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding-left: 60px;
  padding-right: 30px;
  background-color: rgba(204, 200, 200, 0.24);
}
.search-bar input:focus {
  outline: none;
}

.seach-logo {
  position: absolute;
  border: none;
  width: 20px;
  font-size: 20px;
  top: 8px;
  left: 15px;
  color: green;
  z-index: 20;
  cursor: pointer;
}
.seach-logo:active {
  color: rgb(61, 224, 61);
  transform: scale(1.2);
}

/**ORDER & CATEGORY*/
.order {
  line-height: 20px;
  float: left;
  width: 100%;
  height: 50px;
}

.select {
  border-radius: 12px;
  border: none;
  padding: 4px;
  color: rgba(64, 66, 66, 0.836);
  font-weight: bold;
}
.select:focus {
  color: black;
}

#writer {
  height: 2.7rem;
  color: white;
  font-weight: bold;
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
}

/**Board-Contents*/
.board {
  margin-top: 2px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.board_contents {
  border-bottom: solid 1px rgba(156, 152, 152, 0.664);
  height: 170px;
  width: 97%;
  margin: 0px auto;
  padding: 0px 20px;
}
.contents_box:hover {
  background-color: rgba(204, 200, 200, 0.452);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .board_contents {
    height: 190px;
  }
}

button a {
  text-decoration: none;
  color: white;
}

#writer:active {
  transform: scale(1.03);
}

button a:hover {
  color: white;
}

.b1 {
  border: none;
  width: 9em;
  padding: 3px 5px;
  border-radius: 25px;
  background-color: rgba(174, 241, 172, 0.473);
}
.b1 div {
  margin: 0px auto;
}

/**Fix_box*/
.fix_box {
  width: 30em;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  height: 55px;
  padding: 8px 30px;
  background: linear-gradient(to top, yellow, lightGreen);
  border-radius: 24px;
  position: fixed;
  bottom: 3em;
}
.fix_btn {
  border: none;
  height: 40px;
  width: 6em;
  background: linear-gradient(45deg, Violet, Orange);
  color: white;
  border-radius: 10px;
}

.fix_btn:active {
  transform: scale(1.05);
}

/**PageNation*/
.paging {
  height: 100px;
  margin-bottom: 2em;
}
.pagination {
  justify-content: center;
  padding-top: 2em;
}

/**add.html */
.file {
  border: none;
  background-color: transparent;
  color: rgba(28, 28, 29, 0.678);
}
.file:hover {
  color: black;
  transform: scale(1.03);
  cursor: pointer;
}
