* {
  font-style: inherit;
  font-weight: inherit;
}
@media screen and (max-width:767px) {
    #aside {
      margin-top: 0 !important;
    }
  }
  #aside {
    transition: margin-top 0.5s ease-in-out 0s, right .5s;
    height: 1500px;
    position: sticky;
    font-weight: bold;
    top: 80px;
  }

  .card{
    width: 282.8px;
    margin: auto;
  }

  .btn{
    width: 250px;
    margin-top: 40px;
    margin: auto;
    display: block;
    font-weight: bold;
    font-size: x-large;

  }

 #board,#signs,#listen,#update,#de{
    margin-left: 40px;
    margin-bottom: 50px;
    font-weight: bold;
    font-size:x-large;
  }

 #ot{
  width: 600px;
 }
 
 .main-content{
  display: flex;
  flex-flow: row nowrap;
 }

 /* .content{
    height : 5000px;
 } */
#leftside{
  height: 400px;
  font-weight: bold;
  position: sticky;
  top: 60px;
  padding-top: 80px;

}
.left{
  width: 140px;

}
