.input-group {
    width: 80%;
}

.category {
    border-radius: 7px 0 0 7px;
}
#search{
    
    width: 226px;

}

.justify-content-center{
    margin-left: 500px;
}

#lec{
    width: 30%;
}

#kind,#button-addon2{
    font-weight: bold;
    color: black;
}

.clicked{
    font-weight: bold;

}