.input-group {
    width: 80%;
    display: inline;
}
.courses_order_select{
    display: inline;
}

.category {
    border-radius: 7px 0 0 7px;
}
#search{
    
    width: 226px;

}

.justify-content-center{
    margin-left: 500px;
}

#lec{
    width: 30%;
}

#kind,#button-addon2{
    font-weight: bold;
    color: black;
}

.clicked{
    background-color: black !important

}

#div1,#div2{
    color: red;
    font-size: small;
    font-weight: bold;
}

.filter{
    border: none;
    font-weight: bold;
    background-color: white;
    color:darkgray;

}
#filter{
    margin-left: 700px;
    margin-top: 30px;

}

#result{
    padding-top: 1rem !important;
}

.filter_clicked{
    color: black !important;
    border: none;
    font-weight: bold;
    background-color: white;
}

