#file,#num,#name,#contents,.form-label{
    font-weight: bold;
    font-size: 20px;
}

#updateform{
    font-weight: bold;
}

#file_sub{
    font-weight: bold;
    font-size: large;
}

#sum{
    margin-top: 20px;
}