<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="com.seok.home.admin.AdminDAO">
	
		<select id="findBoard" parameterType="FreeBoardDTO" resultType="FreeBoardDTO">
			select *
	        from(select fb_num, 'FREE_BOARD' as bd_name from free_board
				union all
				select sb_num,'STUDY_BOARD' as bd_name from study_board
				union all
				select n_num, 'NOTICE' as bd_name from notice) board
	        where fb_num = #{fb_num}
		</select>
		
		<delete id="setBoardDelete" parameterType="StudyBoardDTO">
		   DELETE FROM <choose>
		    			<when test="bd_name == 'STUDY_BOARD'">STUDY_BOARD WHERE SB_NUM</when>
		    			<when test="bd_name == 'FREE_BOARD'">FREE_BOARD WHERE FB_NUM</when>
		    			<otherwise>NOTICE WHERE N_NUM</otherwise>
		    			</choose> = #{fb_num}
		</delete>
	
		<select id="getBoardCnt" resultType="Long">
			select count(*)
	        from(select sb_num from study_board union all
				select fb_num from free_board)
		</select>
	
		<select id="getTotalBoardList" parameterType="AdminPager" resultType="Long">
			select count(*) from (select fb_num , title, contents,category, id, reg_date, '자유게시판' as bd_name from free_board
			union all
			select sb_num, title, contents, category, id, reg_date, '학습게시판' as bd_name from study_board
			union all
			select n_num, title, contents,'공지사항' as category, id, reg_date, '공지사항' as bd_name from notice) board
			where <include refid="search"></include>
			and <include refid="chkstatus"></include>
			and REG_DATE between TO_DATE(#{startDate}||' 00:00:00','YYYY-MM-DD HH24:MI:SS')and TO_DATE(#{endDate}||' 23:59:59','YYYY-MM-DD HH24:MI:SS')
			<include refid="orderby"></include>
		</select>
	
		<select id="getBoardList" parameterType="AdminPager" resultType="FreeBoardDTO">
			select *                
			from(select rownum as rown, board.* 
	        	from(select * 
	        		from (select fb_num , title, contents,category, id, reg_date, '자유게시판' as bd_name from free_board
						union all
						select sb_num, title, contents, category, id, reg_date, '학습게시판' as bd_name from study_board
						union all
						select n_num, title, contents,'공지사항' as category, id, reg_date, '공지사항' as bd_name from notice) 
					where <include refid="search"></include>
					and <include refid="chkstatus"></include>
					and REG_DATE between TO_DATE(#{startDate}||' 00:00:00','YYYY-MM-DD HH24:MI:SS')and TO_DATE(#{endDate}||' 23:59:59','YYYY-MM-DD HH24:MI:SS')
					<include refid="orderby"></include>)board)
			where rown between #{startRow} and #{lastRow}
		</select>
		
	  	<sql id="search">
			<choose>
				<when test="kind == 'title'">title LIKE '%'||#{search}||'%'</when>
				<when test="kind == 'fb_num'">fb_num = #{search}</when>
				<when test="kind == 'contents'">contents LIKE '%'||#{search}||'%'</when>
				<when test="kind == 'category'">category = #{search}</when>
				<when test="kind == 'ID'">ID = #{search}</when>
				<otherwise>'a' = 'a'</otherwise>
			</choose>
		</sql>
		<sql id="orderby">
			<choose>
				<when test="orderby == 'old'">ORDER BY  REG_DATE ASC</when>
				<when test="orderby == 'new'">ORDER BY  REG_DATE DESC</when>
				<otherwise>ORDER BY REG_DATE DESC</otherwise>
			</choose> 
		</sql>
    	<sql id="chkstatus">
			<choose>
				<when test="chkstatus == 'free'">bd_name = '자유게시판'</when>
				<when test="chkstatus == 'study'">bd_name = '학습게시판'</when>
				<when test="chkstatus == 'notice'">bd_name = '공지사항'</when>				
				<when test="chkstatus == 'free,study'">bd_name != '공지사항'</when>
				<when test="chkstatus == 'free,notice'">bd_name !='학습게시판'</when>
				<when test="chkstatus == 'study,notice'">bd_name !='자유게시판'</when>
				<otherwise>'a' = 'a'</otherwise>
			</choose> 
		</sql>
	</mapper>
		    	