<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		    
		    <mapper namespace="com.seok.home.b_comment.CommentDAO"> 	
		    	<select id="getCommentDetail" parameterType="CommentDTO" resultType="CommentDTO">
		    		SELECT * FROM SB_REPLY WHERE SB_NUM=#{sb_num}
		    	</select>
		    	
		    	<insert id="setCommentAdd" parameterType="CommentDTO">
		    		INSERT INTO SB_REPLY VALUES(BOARD_SEQ.NEXTVAL, #{sb_num}, 'teacher', #{contents}, sysdate, 0)
		    	</insert>
		    	
		    	<delete id="setCommentDelete" parameterType="CommentDTO">
		    		DELETE SB_REPLY WHERE SB_NUM=#{sb_num}
		    	</delete>
		    	
		    	<!-- 게시판댓글 -->
		    	<select id="getSB_CommentList" parameterType="CommentDTO" resultType="CommentDTO">
		    		SELECT * FROM SB_COMMENT WHERE SB_NUM = #{sb_num} AND REF=1 ORDER BY NUM ASC 
		    	</select>
		    	
		    	<insert id="setSB_CommentAdd" parameterType="CommentDTO">
		    		INSERT INTO SB_COMMENT VALUES(BOARD_SEQ.NEXTVAL, #{sb_num}, #{id}, #{contents}, SYSDATE, 1)
		    	</insert>
		    	
		    	<delete id="setSB_CommentDelete" parameterType="CommentDTO">
		    		DELETE SB_COMMENT WHERE NUM=#{num} AND  REF = 0
		    	</delete>
		    	
		    	<select id="getComment_Count" parameterType="CommentDTO" resultType="Long">
		    		SELECT COUNT(NUM) FROM SB_COMMENT WHERE SB_NUM=#{sb_num} AND  REF = 1
		    	</select>
		    	
		    	<!-- 강사 답글 : 댓글 -->
		    	<select id="getT_CommentList" parameterType="CommentDTO" resultType="CommentDTO">
		    		SELECT * FROM SB_COMMENT WHERE SB_NUM = #{sb_num} AND REF=0 ORDER BY NUM ASC 
		    	</select>
		    	
		    	<insert id="setT_CommentAdd" parameterType="CommentDTO">
		    		INSERT INTO SB_COMMENT VALUES(BOARD_SEQ.NEXTVAL, #{sb_num}, #{id}, #{contents}, SYSDATE, 0)
		    	</insert>
		    	
		    	<delete id="setT_CommentDelete" parameterType="CommentDTO">
		    		DELETE SB_COMMENT WHERE NUM=#{num} AND REF = 0
		    	</delete>
		    	
		    	<delete id="setAllCommentDelete" parameterType="CommentDTO">
		    		DELETE SB_COMMENT WHERE SB_NUM =#{sb_num} AND REF = 0
		    	</delete>
		    	
		    </mapper>