<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		    
		    <mapper namespace="com.seok.home.b_comment.CommentDAO">
		    	<select id="getBoardList" parameterType="Pager" resultType="StudyBoardDTO">
		    		SELECT * FROM (
		    			SELECT ROWNUM R, N.* FROM (
		    				SELECT * FROM STUDY_BOARD ORDER BY SB_NUM DESC
		    				)N
		    			)
		    		WHERE R BETWEEN #{startRow} AND #{lastRow}
		    	</select>
		    	
		    	<select id="getTotalCount" parameterType="Pager" resultType="Long">
		    		SELECT COUNT(sb_num) FROM STUDY_BOARD
		    	</select>
		    	
		   
		    </mapper>