<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		    
		    <mapper namespace="com.seok.home.cs_board.CsDAO">
		    
		    	<select id="getNotAnswerCnt" resultType="Long">
		    		select COUNT(*) from CS_BOARD WHERE CS_STATUS='미답변'
		    	</select>
		    
		    	<insert id="setBoardAdd" parameterType="CsBoardDTO">
		    		<selectKey order="BEFORE" keyProperty="cs_num" resultType="Long">
		    			SELECT CSBOARD_SEQ.NEXTVAL FROM DUAL
		    		</selectKey>
			    	INSERT INTO CS_BOARD (CS_NUM, ID, CS_PHONE, CS_EMAIL, CS_TITLE, CS_CONTENTS, REGDATE, CS_STATUS)
					VALUES (#{cs_num}, #{id}, #{cs_phone}, #{cs_email}, #{cs_title}, #{cs_contents}, SYSDATE, '미답변')
		    	</insert>
		    	
		    	<select id="getMylist" parameterType="CsBoardDTO" resultType="CsBoardDTO">
		    		SELECT *
					FROM CS_BOARD
					WHERE id=#{id}
					ORDER BY REGDATE DESC
		    	</select>
		    	
		    	<select id="getBoardDetail" parameterType="CsBoardDTO" resultType="CsBoardDTO">
		    		SELECT *
					FROM CS_BOARD
					WHERE cs_num = #{cs_num}
		    	</select>
		    			
	    		<sql id="chkstatus">
					<choose>
						<when test="chkstatus == 'done,yet'">'a'='a'</when>
						<when test="chkstatus == 'done'">CS_STATUS = '답변완료'</when>
						<when test="chkstatus == 'yet'">CS_STATUS = '미답변'</when>
						<otherwise>'a'='a'</otherwise>
					</choose>
				</sql>
				<sql id="search">
					<choose>
						<when test="kind == 'CS_TITLE'">CS_TITLE</when>
						<when test="kind == 'ID'">ID</when>
						<when test="kind == 'CS_PHONE'">CS_PHONE</when>
						<when test="kind == 'CS_EMAIL'">CS_EMAIL</when>
						<otherwise>CS_STATUS</otherwise>
					</choose>
					LIKE '%'||#{search}||'%' 
				</sql>
				<sql id="orderby">
					<choose>
						<when test="orderby == 'old'">ORDER BY REGDATE ASC</when>
						<when test="orderby == 'new'">ORDER BY REGDATE DESC</when>
						<otherwise>ORDER BY REGDATE ASC</otherwise>
					</choose> 
				</sql>
				    	
		    	<update id="setAnswerDefault" parameterType="CsBoardDTO">
		    		update cs_board set cs_status='답변완료', cs_answer=#{cs_answer},cs_admin=#{cs_admin},re_regdate=sysdate
					where cs_num=#{cs_num}
		    	</update>
		    	
		    	<select id="getTotalCount" parameterType="AdminPager" resultType="Long">
			    	select count(*) from cs_board
					where regdate between TO_DATE(#{startDate}||' 00:00:00','YYYY-MM-DD HH24:MI:SS')and TO_DATE(#{endDate}||' 23:59:59','YYYY-MM-DD HH24:MI:SS')
		    		and <include refid="search"></include>
		    		and <include refid="chkstatus"></include> 
		    	</select>
		    	
		    	<select id="getBoardList" parameterType="AdminPager" resultType="CsBoardDTO">
		    		select * 
		    		from (select rownum as rown, cs.* 
		    			from (select * from cs_board
							where regdate between TO_DATE(#{startDate}||' 00:00:00','YYYY-MM-DD HH24:MI:SS')and TO_DATE(#{endDate}||' 23:59:59','YYYY-MM-DD HH24:MI:SS')
							and <include refid="search"></include> 
							and <include refid="chkstatus"></include> 
							<include refid="orderby"></include>) cs)
					where rown between #{startRow} and #{lastRow}
		    	</select>
		    		
		    	<delete id="setBoardDelete" parameterType="CsBoardDTO">
		    		DELETE FROM CS_BOARD WHERE CS_NUM= #{cs_num}
		    	</delete>
		    	
				<update id="setBoardUpdate" parameterType="CsBoardDTO">
		    		update cs_board set cs_title=#{cs_title}, cs_contents=#{cs_contents}
					where cs_num=#{cs_num}
		    	</update>

		    </mapper>