<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		    
		    <mapper namespace="com.seok.home.f_board.FreeBoardDAO">
		    	<!-- 자유게시판 목록 -->
		    	<select id="getF_boardList" resultType="FreeBoardDTO">
		    		SELECT * FROM FREE_BOARD ORDER BY FB_NUM DESC
		    	</select>	
		    	
		    	<!-- 자유게시판 글작성 -->
		    	<insert id="setF_boardAdd" parameterType="FreeBoardDTO">
		    		INSERT INTO FREE_BOARD VALUES (BOARD_SEQ.NEXTVAL, #{id}, #{title},SYSDATE, #{hit}, #{contents}, #{category},0)
		    	</insert>
		    	
		    	<!-- 자유게시판 상세보기 -->
		    	<select id="getF_boardDetail" parameterType="FreeBoardDTO" resultType="FreeBoardDTO">
		    		SELECT * FROM FREE_BOARD WHERE FB_NUM= #{fb_num}
		    	</select>
		    	
		    	<!-- 자유게시판 글수정 -->
		    	<update id="setF_boardUpdate" parameterType="FreeBoardDTO">
		    		UPDATE FREE_BOARD SET TITLE = #{title}, CONTENTS=#{contents} WHERE FB_NUM=#{fb_num}
		    	</update>
		    	
		    	<!-- 자유게시판 글삭제 -->
		    	<delete id="setF_boardDelete" parameterType="FreeBoardDTO">
		    		DELETE FREE_BOARD WHERE FB_NUM = #{fb_num}
		    	</delete>
		    	
		    	<!-- 자유게시판 댓글 목록 -->
		    	<select id="getFb_replyList" parameterType="FreeBoardReplyDTO" resultType="FreeBoardReplyDTO">
		    		SELECT * FROM FB_REPLY WHERE FB_NUM=#{fb_num} ORDER BY NUM DESC
		    	</select>
		    </mapper>