<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		    
		    <mapper namespace="com.seok.home.f_board.FreeBoardDAO">
		    	<sql id="kind">
		    			<choose>
		    				<when test="kind == 'study'">CATEGORY LIKE '%스터디모집%'</when>
		    				<when test="kind == 'data'">CATEGORY LIKE '%자료실%'</when>
		    				<when test="kind == 'confirm'">CATEGORY LIKE '%공부인증%'</when>
		    				<when test="kind == 'talk'">CATEGORY LIKE '%수다%'</when>
		    				<otherwise>'a'='a'</otherwise>
		    			</choose>		
		    	</sql>
		    	<sql id="order">
					<choose>
						<when test="order == 'new'">ORDER BY FB_NUM DESC</when>
						<when test="order == 'hit'">ORDER BY HIT DESC</when>
						<when test="order == 'heart'">ORDER BY NVL(FC.C,0) DESC</when>
						<otherwise>ORDER BY FB_NUM DESC</otherwise>
					</choose> 		    		
		    	</sql>
		    	<sql id="list">
					<choose>
						<when test="order == 'heart'">
							SELECT FB.FB_NUM,FB.ID,FB.TITLE,FB.REG_DATE,FB.HIT,FB.CONTENTS,FB.CATEGORY,NVL(FC.C,0), MF.F_NAME FROM FREE_BOARD FB,
							    LEFT JOIN
							    (SELECT FB_NUM, COUNT(FB_NUM) AS C FROM FB_HEART GROUP BY FB_NUM)FC
							    ON (FB.FB_NUM = FC.FB_NUM)
							    LEFT JOIN
							    MEMBER_FILE MF
						    	ON FB.ID = MF.ID)
					    </when>
						<otherwise>SELECT * FROM 
						(SELECT FB.*, MF.F_NAME FROM FREE_BOARD FB
						    LEFT JOIN
						    MEMBER_FILE MF
						    ON FB.ID = MF.ID)
						</otherwise>
					</choose> 		    		
		    	</sql>
		    	
		    	<!-- 자유게시판 목록 -->
		    	<select id="getF_boardList" parameterType="Pager" resultType="FreeBoardDTO">
		    		SELECT * FROM (
		    			SELECT ROWNUM R, N.* FROM (
		    				<include refid="list"></include>
		    				WHERE TITLE LIKE '%'||#{search}||'%'
		    				and <include refid="kind"></include> 
		    				<include refid="order"></include>
		    				)N)
		    		WHERE R BETWEEN #{startRow} AND #{lastRow}
		    	</select>
		    	
		    	<!-- 자유게시판 총 글수 -->	
		    	<select id="getTotalCount" parameterType="Pager" resultType="Long">
		    		SELECT COUNT(fb_num) FROM FREE_BOARD
		    	</select>
		    	
		    	<!-- 자유게시판 글작성 -->
		    	<insert id="setF_boardAdd" parameterType="FreeBoardDTO">
		    		INSERT INTO FREE_BOARD VALUES (BOARD_SEQ.NEXTVAL, #{id}, #{title},SYSDATE, #{hit}, #{contents}, #{category},0)
		    	</insert>
		    	
		    	<!-- 자유게시판 상세보기 -->
		    	<select id="getF_boardDetail" parameterType="FreeBoardDTO" resultType="FreeBoardDTO">
		    		SELECT * FROM (SELECT FB.*, MF.F_NAME FROM FREE_BOARD FB
					    LEFT JOIN
					    MEMBER_FILE MF
					    ON FB.ID = MF.ID)
					WHERE FB_NUM = #{fb_num}
		    	</select>
		    	
		    	<!-- 자유게시판 글수정 -->
		    	<update id="setF_boardUpdate" parameterType="FreeBoardDTO">
		    		UPDATE FREE_BOARD SET TITLE = #{title}, CONTENTS=#{contents} WHERE FB_NUM=#{fb_num}
		    	</update>
		    	
		    	<!-- 자유게시판 글삭제 -->
		    	<delete id="setF_boardDelete" parameterType="FreeBoardDTO">
		    		DELETE FREE_BOARD WHERE FB_NUM = #{fb_num}
		    	</delete>
		    	
		    	<!-- 자유게시판 조회 수 -->
		    	<update id="setFb_hit" parameterType="FreeBoardDTO">
		    		UPDATE FREE_BOARD SET HIT = HIT+1 WHERE FB_NUM = #{fb_num}
		    	</update>
		    	
		    	<!-- 자유게시판 추천조회 -->
		    	<select id="getFb_heart" parameterType="Fb_heartDTO" resultType="Fb_heartDTO">
		    		SELECT * FROM FB_HEART WHERE FB_NUM = #{fb_num} AND ID = #{id}
		    	</select> 
		    	<!-- 자유게시판 추천등록 -->
		    	<insert id="setFb_heartAdd" parameterType="Fb_heartDTO">
		    		INSERT INTO FB_HEART VALUES (LIKE_SEQ.NEXTVAL,#{id}, #{fb_num})
		    	</insert> 
		    	<!-- 자유게시판 추천취소 -->
		    	<delete id="setFb_heartDelete" parameterType="Fb_heartDTO">
		    		DELETE FB_HEART WHERE FB_NUM = #{fb_num} AND ID = #{id}
		    	</delete> 
		    	<!-- 자유게시판 추천 갯수 -->
		    	<select id="getFb_heartCount" parameterType="Fb_heartDTO" resultType="Long">
		    		SELECT COUNT(LIKE_NUM) FROM FB_HEART WHERE FB_NUM = #{fb_num}
		    	</select> 
		    	
		    	
		    	<!-- 자유게시판 댓글 목록 -->
		    	<select id="getFb_replyList" parameterType="CommentPager" resultType="FreeBoardReplyDTO">
		    		SELECT * FROM (
					    SELECT ROWNUM R, N.* FROM (
					        SELECT * FROM (SELECT FR.*, MF.F_NAME FROM FB_REPLY FR
					    	LEFT JOIN
					    	MEMBER_FILE MF
					    	ON FR.ID = MF.ID) WHERE FB_NUM = #{fb_num} ORDER BY NUM DESC
					        )N
					    )
					WHERE R BETWEEN #{startRow} AND #{lastRow}
		    	</select>
		    	
		    	<!-- 자유게시판 댓글 작성 -->
		    	<insert id="setFb_replyAdd" parameterType="FreeBoardReplyDTO">
		    		INSERT INTO FB_REPLY VALUES(BOARD_SEQ.NEXTVAL, #{fb_num}, #{id}, #{contents}, SYSDATE)
		    	</insert>
		    	
		    	<!-- 자유게시판 댓글 삭제 -->
		    	<delete id="setFb_replyDelete" parameterType="FreeBoardReplyDTO">
		    		DELETE FB_REPLY WHERE NUM = #{num}
		    	</delete>
		    	
		    	<!-- 자유게시판 댓글 수 -->
		    	<select id="getReplyCount" parameterType="FreeBoardReplyDTO" resultType="Long">
		    		SELECT COUNT(NUM) FROM FB_REPLY WHERE FB_NUM = #{fb_num}
		    	</select>
		    </mapper>