<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		    
		    <mapper namespace="com.seok.home.l_board.LectureBoardDAO">
		    	<!-- 정렬기능구현 -->
		    	<select id="getL_boardNewList" parameterType="LectureBoardDTO" resultType="LectureBoardDTO">					    	
		    		SELECT * FROM (
		    			SELECT LB.*, MF.F_NAME FROM LECTURE_BOARD LB
					    	LEFT JOIN
					    	MEMBER_FILE MF
					    	ON LB.ID = MF.ID)
					WHERE L_NUM = #{l_num} ORDER BY NUM DESC
		    	</select>	
		    	<select id="getL_boardLikeList" parameterType="LectureBoardDTO" resultType="LectureBoardDTO">
		    		SELECT * FROM (SELECT LB.*,NVL(LC.C ,0)C, MF.F_NAME FROM LECTURE_BOARD LB
					   		 LEFT JOIN
					    	(SELECT NUM, COUNT(NUM) C FROM L_HEART GROUP BY NUM) LC
					    	ON (LB.NUM = LC.NUM) 
					    	LEFT JOIN
					    	MEMBER_FILE MF
					    	ON (LB.ID = MF.ID)
					WHERE L_NUM = #{l_num}) ORDER BY C DESC, REG_DATE DESC
		    	</select>			
		    	<select id="getL_boardHighList" parameterType="LectureBoardDTO" resultType="LectureBoardDTO">
		    		SELECT * FROM  (
		    			SELECT LB.*, MF.F_NAME FROM LECTURE_BOARD LB
					    	LEFT JOIN
					    	MEMBER_FILE MF
					    	ON LB.ID = MF.ID) 
					WHERE L_NUM = #{l_num} ORDER BY SCORE DESC, REG_DATE DESC
		    	</select>	
		    	<select id="getL_boardLowList" parameterType="LectureBoardDTO" resultType="LectureBoardDTO">
		    		SELECT * FROM  (
		    			SELECT LB.*, MF.F_NAME FROM LECTURE_BOARD LB
					    	LEFT JOIN
					    	MEMBER_FILE MF
					    	ON LB.ID = MF.ID)
					WHERE L_NUM = #{l_num} ORDER BY SCORE ASC, REG_DATE DESC
		    	</select>	
		    	
		    	<insert id="setL_boardAdd" parameterType="LectureBoardDTO">
		    		INSERT INTO LECTURE_BOARD VALUES (BOARD_SEQ.NEXTVAL, #{l_num}, #{id}, #{score}, #{contents}, SYSDATE)
		    	</insert>
		    	
		    	<delete id="setL_boardDelete" parameterType="LectureBoardDTO">
		    		DELETE LECTURE_BOARD WHERE num = #{num}
		    	</delete>
		    	
		    	<!-- 수강평 댓글 수 -->
		    	<select id="getTotalCount" parameterType="LectureBoardDTO" resultType="Long">
		    		SELECT COUNT(NUM) FROM LECTURE_BOARD WHERE L_NUM = #{l_num}
		    	</select>
		    	<!-- 수강평 점수별 댓글 수 --> 
		    	<select id="getFiveScore" parameterType="LectureBoardDTO" resultType="Long">
		    		SELECT COUNT(SCORE) FROM LECTURE_BOARD WHERE L_NUM =#{l_num} AND SCORE=5
		    	</select>
		    	<select id="getFourScore" parameterType="LectureBoardDTO" resultType="Long">
		    		SELECT COUNT(SCORE) FROM LECTURE_BOARD WHERE L_NUM =#{l_num} AND SCORE=4
		    	</select>
		    	<select id="getThirdScore" parameterType="LectureBoardDTO" resultType="Long">
		    		SELECT COUNT(SCORE) FROM LECTURE_BOARD WHERE L_NUM =#{l_num} AND SCORE=3
		    	</select>
		    	<select id="getSecondScore" parameterType="LectureBoardDTO" resultType="Long">
		    		SELECT COUNT(SCORE) FROM LECTURE_BOARD WHERE L_NUM =#{l_num} AND SCORE=2
		    	</select>
		    	<select id="getFirstScore" parameterType="LectureBoardDTO" resultType="Long">
		    		SELECT COUNT(SCORE) FROM LECTURE_BOARD WHERE L_NUM =#{l_num} AND SCORE=1
		    	</select>
		    	
		    	<!-- 별점평균 /NVL()함수로 null처리 -->
		    	<select id="getAvgScore" parameterType="LectureBoardDTO" resultType="java.lang.Double">
		    		SELECT NVL(AVG(SCORE),0) FROM LECTURE_BOARD WHERE L_NUM = #{l_num}
		    	</select>
		    	
		    	<!-- 수강평 추천기능구현 -->
		    	<select id="getL_heart" parameterType="L_heartDTO" resultType="L_heartDTO">
		    		SELECT * FROM L_HEART WHERE NUM=#{num} AND ID=#{id}
		    	</select>
		    	<!-- 수강평 추천 -->	
		    	<insert id="setL_heart" parameterType="L_heartDTO">
		    		INSERT INTO L_HEART VALUES (LIKE_SEQ.NEXTVAL,#{id}, #{num})
		    	</insert>
		    	<!-- 추천 취소 -->
		    	<delete id="setL_heartDelete" parameterType="L_heartDTO">
		    		DELETE L_HEART WHERE NUM=#{num} AND ID=#{id}
		    	</delete>

				<!-- 추천수 조회 -->
		    	<select id="getHeartCount" parameterType="L_heartDTO" resultType="Long">
		    		SELECT COUNT(LIKE_NUM) FROM L_HEART WHERE NUM=#{num}
		    	</select>
		    	
		    	<select id="getMyBoardList" parameterType="LectureBoardDTO" resultType="LectureBoardDTO">
		    		SELECT * FROM LECTURE_BOARD WHERE ID = #{id}
		    	</select>

		    </mapper>