<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		    
		    <mapper namespace="com.seok.home.lecture.LectureDAO">
		    	
		    	<insert id="setLecture" parameterType="LectureDTO">
		    		<selectKey order="BEFORE" keyProperty="l_num" resultType="Long">
						SELECT LECTURE_SEQ.NEXTVAL FROM DUAL
					</selectKey>
		    		INSERT INTO LECTURE(L_NUM, ID, LEVEL_NUM, L_NAME, L_CONTENTS, C_NUM, L_PRICE, L_COUNT, L_DATE)
					VALUES (#{l_num}, #{id},#{level_num},#{l_name},#{l_contents},#{c_num},#{l_price},0,#{l_date})
		    	</insert>
		    	
		    	<select id="getLecture"  resultMap="getDetailResult" parameterType="com.seok.home.util.Pager" >
		    		SELECT * FROM
		    			(SELECT ROWNUM R, L.* FROM
		    				(SELECT * FROM LECTURE L
		    				JOIN L_FILE LF
		    				ON L.L_NUM = LF.L_NUM
		    				JOIN VIDEO VV
							ON L.L_NUM = VV.L_NUM
							JOIN "LEVEL" LV
							ON L.LEVEL_NUM = LV.LEVEL_NUM
							JOIN CATEGORY C
							ON L.C_NUM = C.C_NUM
							WHERE
	                  		<choose>
	                     		<when test="kind == 'id'">L.ID</when>
	                     		<when test="kind == 'l_name'">L.L_NAME</when>
	                     		<when test="kind == 'level_name'">LV.LEVEL_NAME</when>
	                     		<otherwise>C.C_NAME</otherwise>
	                 		 </choose>
                  			LIKE '%'||#{search}||'%'
                 	 		ORDER BY L.L_NUM DESC) L)
                 	 		WHERE R BETWEEN #{startRow} AND #{lastRow}
					
		    	</select>
		    	
		    	<update id="setUpdate" parameterType="LectureDTO">
		    		UPDATE LECTURE SET 
		    		LEVEL_NUM = #{level_num}, L_NAME = #{l_name}, L_CONTENTS = #{l_contents},
		    		C_NUM = #{c_num}, L_PRICE = #{l_price}, L_DATE = #{l_date}
					WHERE L_NUM=#{l_num}
		    	</update>
		    	
		    	<delete id="setDelete" parameterType="LectureDTO">
		    		DELETE FROM LECTURE WHERE L_NUM=#{l_num}
		    	</delete>
		    	
		    	<insert id="setAddFile" parameterType="lectureFileDTO" >
		    		INSERT INTO L_FILE(NUM, L_NUM, F_NAME, F_ORINAME) 
		    		VALUES (FILE_SEQ.NEXTVAL, #{l_num}, #{f_name}, #{f_oriname})
		    	</insert>
		    	
		    	<resultMap type="LectureDTO" id="getDetailResult">
		    		<id column="l_num" property="l_num"/>
		    		<result column="id" property="id"/>
		    		<result column="c_name" property="c_name"/>
		    		<result column="c_num" property="c_num"/>
		    		<result column="level_num" property="level_num"/>
		    		<result column="level_name" property="level_name"/>
		    		<result column="l_name" property="l_name"/>
		    		<result column="l_contents" property="l_contents"/>
		    		<result column="l_price" property="l_price"/>
		    		<result column="l_count" property="l_count"/>
		    		<result column="l_date" property="l_date"/>
		    		<association property="cartDTO" javaType="CartDTO" >
		    			<id column="cart_num" property="cart_num"/>
		    			<result column="id" property="id"/>
		    		</association>
		    		<collection property="lectureFileDTO" javaType="List" ofType="LectureFileDTO">
		    			<id column="num" property="num"/>
		    			<result column="f_name" property="f_name"/>
		    			<result column="f_oriname" property="f_oriname"/>
		    		</collection>
		    		<collection property="lectureVideoDTO" javaType="List" ofType="LectureVideoDTO">
		    			<id column="v_num" property="v_num"/>
		    			<result column="v_url" property="v_url"/>
		    			<result column="v_context" property="v_context"/>
		    			<result column="v_seq" property="v_seq"/>
		    		</collection>
		    	</resultMap>
		    	
		    	<select id="getDetail" parameterType="LectureDTO" resultMap="getDetailResult">
		    		SELECT L.*, LF.* , LV.*, CA.C_NAME, VV.*
					FROM LECTURE L
					LEFT JOIN L_FILE LF
					ON L.L_NUM = LF.L_NUM
					LEFT JOIN CART C
					ON L.L_NUM = C.L_NUM
					LEFT JOIN "LEVEL" LV
					ON L.LEVEL_NUM = LV.LEVEL_NUM
					LEFT JOIN CATEGORY CA
					ON L.C_NUM = CA.C_NUM
					LEFT JOIN VIDEO VV
					ON L.L_NUM = VV.L_NUM 
					WHERE L.L_NUM = #{l_num}
		    	</select>
		    	
		    	<select id="getDetailVideo" resultMap="getDetailResult" parameterType="LectureDTO">
		    		SELECT L.*, LF.* ,VV.*
					FROM LECTURE L
					JOIN L_FILE LF
					ON L.L_NUM = LF.L_NUM
					JOIN VIDEO VV
					ON L.L_NUM = VV.L_NUM
					WHERE L.L_NUM = #{l_num}
		    	</select>
		    	
		    	<insert id="setAddVideo" parameterType="LectureVideoDTO">
		    		INSERT INTO VIDEO(V_NUM, L_NUM, V_URL, V_CONTEXT,V_SEQ) 
		    		VALUES(VIDEO_SEQ.NEXTVAL, #{l_num}, #{v_url}, #{v_context},#{v_seq})
		    	</insert>
		    	
		    	<select id="getCount" resultType="java.lang.Long" parameterType="com.seok.home.util.Pager">
					SELECT COUNT(L.L_NUM) 
					FROM LECTURE L
					JOIN "LEVEL" LV
					ON L.LEVEL_NUM = LV.LEVEL_NUM
					JOIN CATEGORY C
					ON L.C_NUM = C.C_NUM
					WHERE
	                  <choose>
	                     <when test="kind == 'id'">L.ID</when>
	                     <when test="kind == 'l_name'">L.L_NAME</when>
	                     <when test="kind == 'level_name'">LV.LEVEL_NAME</when>
	                     <otherwise>C.C_NAME</otherwise>
	                  </choose>
                  	LIKE '%'||#{search}||'%'
								
				</select>
				
				<select id="getCartDetail" resultMap="getDetailResult" parameterType="CartDTO">
					SELECT L.*, LF.* ,C.*,LV.*,CA.C_NAME
					FROM LECTURE L
					INNER JOIN L_FILE LF
					ON L.L_NUM = LF.L_NUM
					JOIN CART C
					ON L.L_NUM = C.L_NUM
					JOIN "LEVEL" LV
					ON L.LEVEL_NUM = LV.LEVEL_NUM
					JOIN CATEGORY CA
					ON L.C_NUM = CA.C_NUM
					WHERE C.ID = #{id}
				</select>
				
				<delete id="setVideoDelete" parameterType="LectureVideoDTO">
					DELETE VIDEO WHERE V_NUM=#{v_num}
				</delete>
		    </mapper>