<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		    
		    <mapper namespace="com.seok.home.lecture.add.LectureAddDAO">
		    	<select id="getLectureIngCnt" resultType="Long">
			    	SELECT COUNT(*)
			        FROM lecture_sign
			        WHERE STATUS=1
		    	</select>
		    
		    	<insert id="setLectureAdd" parameterType="LectureAddDTO">
		    		INSERT INTO "LECTURE_SIGN"(S_NUM, L_NUM, ID, S_START, S_END, STATUS)
					VALUES (SIGN_SEQ.NEXTVAL, #{l_num}, #{id}, SYSDATE, #{s_end}, 1)
		    	</insert>
		    	
		    	<delete id="setLectureDelete" parameterType="LectureAddDTO">
		    		DELETE FROM LECTURE_SIGN WHERE S_NUM=#{s_num}
		    	</delete>
		    	
		    	<update id="setLectureUpdate" parameterType="LectureAddDTO">
		    		UPDATE LECTURE_SIGN SET STATUS = 0  WHERE S_NUM = #{s_num}
		    	</update>
		    	
		    	<select id="getLectureAdd" parameterType="LectureAddDTO" resultType="LectureAddDTO"> 
		    		SELECT * FROM LECTURE_SIGN WHERE L_NUM=#{l_num} AND ID=#{id} AND STATUS=1
		    	</select>
		    	
		    	<delete id="setLectureAddDelete" parameterType="LectureAddDTO">
		    		DELETE FROM LECTURE_SIGN WHERE S_NUM=#{s_num}
		    	</delete>
		    	
		    	<update id="setLectureCount" parameterType="LectureAddDTO">
		    		UPDATE LECTURE SET L_COUNT=L_COUNT+1 WHERE L_NUM= #{l_num}
		    	</update>
		    	
		    	<update id="setLectureCountM" parameterType="LectureAddDTO">
		    		UPDATE LECTURE SET L_COUNT=L_COUNT-1 WHERE L_NUM=#{l_num}
		    	</update>
		    	
		    	<select id="getLectureAddAll" resultType="LectureAddDTO">
		    		SELECT * FROM LECTURE_SIGN WHERE STATUS=1
		    	</select>
		    	
		    	<select id="getLectureSearch" parameterType="LectureAddDTO" resultType="LectureAddDTO">
		    		SELECT S_NUM FROM LECTURE_SIGN WHERE L_NUM = #{l_num} AND STATUS=1
		    	</select>
		    	
		    	<delete id="setLectureDeleteAll" parameterType="LectureDTO">
		    		DELETE FROM LECTURE_SIGN WHERE L_NUM=#{l_num}
		    	</delete>
		    	
		    	<select id="getLectureCancel" parameterType="LectureAddDTO" resultType="LectureAddDTO">
		    		SELECT * FROM LECTURE_SIGN WHERE L_NUM=#{l_num} AND ID=#{id} AND STATUS=1
		    	</select>
		    	
		    	<select id="getLectureEnd" parameterType="LectureAddDTO" resultType="LectureAddDTO">
		    		SELECT * FROM LECTURE_SIGN WHERE ID=#{id} AND STATUS = 1
		    	</select>
		    	
		    	<select id="getLectureList" parameterType="LectureDTO" resultType="LectureAddDTO">
		    		SELECT * FROM LECTURE_SIGN WHERE L_NUM=#{l_num} AND STATUS=1
		    	</select>
		    	
		    	
		    
		    </mapper>