<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		    
		    <mapper namespace="com.seok.home.lecture.add.LectureAddDAO">
		    	<insert id="setLectureAdd" parameterType="LectureAddDTO">
		    		INSERT INTO "LECTURE_SIGN"(S_NUM, L_NUM, ID, S_START, S_END, STATUS)
					VALUES (SIGN_SEQ.NEXTVAL, #{l_num}, #{id}, SYSDATE, #{s_end}, 1)
		    	</insert>
		    	
		    	<delete id="setLectureDelete" parameterType="LectureAddDTO">
		    		DELETE FROM LECTURE_SIGN WHERE S_NUM=#{s_num}
		    	</delete>
		    	
		    	<update id="setLectureUpdate" parameterType="LectureAddDTO">
		    		UPDATE LECTURE_SIGN SET STATUS = 0  WHERE S_NUM = #{s_num}
		    	</update>
		    	
		    	<select id="getLectureAdd" parameterType="LectureAddDTO" resultType="LectureAddDTO"> 
		    		SELECT S_NUM FROM LECTURE_SIGN WHERE L_NUM=#{l_num} AND ID=#{id}
		    	</select>
		    
		    </mapper>