<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="com.seok.home.pay.PayDAO">
    
    	<select id="getSimpleLecture" parameterType="LectureDTO" resultMap="simpleLectureResult">
    		select *
    		from lecture L
    		left join l_file F
    		ON L.l_num=F.l_num
    		where L.l_num=#{l_num}
    		order by NUM ASC
    	</select>
    	<resultMap type="LectureDTO" id="simpleLectureResult">
    		<id column="l_num" property="l_num"/>
    		<result column="id" property="id"/>
    		<result column="l_name" property="l_name"/>
    		<result column="l_price" property="l_price"/>
    		<result column="l_date" property="l_date"/>
    		<result column="p_c_name" property="p_c_name"/>
    		<result column="p_c_num" property="p_c_num"/>
			<collection property="lectureFileDTO" javaType="List" ofType="LectureFileDTO">
   				<id column="num" property="num"/>
   				<result column="f_name" property="f_name"/>
   				<result column="f_oriname" property="f_oriname"/>
   			</collection>
    	</resultMap>
    	
    	<select id="getOrder" parameterType="OrderDTO" resultMap="getOrderResult">
    		select *
    		from orders O
    		left join Lecture L
    		on O.l_num = L.l_num
    		where O.O_NUM = #{o_num}
    	</select>
    	<resultMap type="OrderDTO" id="getOrderResult">
    		<id column="O_NUM" property="o_num"/>
    		<result column="P_UID" property="p_uid"/>
   			<result column="L_NUM" property="l_num"/>
   			<result column="O_AMOUNT" property="o_amount"/>
   			<association property="lectureDTO" javaType="LectureDTO">
   				<id column="l_num" property="l_num"/>
   				<result column="TEACHER" property="id"/>
   				<result column="l_name" property="l_name"/>
   				<result column="l_price" property="l_price"/>
   				<result column="l_date" property="l_date"/>
   			</association>
    	</resultMap>
    
    	<select id="getPaymentList" parameterType="PaymentDTO" resultMap="allPaymentsResult">
    		select P.*, O.O_NUM, O.L_NUM, O.O_AMOUNT, L.ID TEACHER, L.LEVEL_NUM, L.L_NAME, L.L_PRICE, R.PR_NUM, R.PR_REASON, R.PR_AMOUNT, R.PR_POINT, R.PR_REGDATE
			FROM payments P
			left join ORDERS O
			on P.p_uid = O.P_UID
			left join Lecture L
			on O.l_num = L.l_num
			left join refund R
			on O.O_num = R.O_num
			where P.p_uid=#{p_uid}
    	</select>
    	<resultMap type="PaymentDTO" id="allPaymentsResult">
    		<id column="p_uid" property="p_uid"/>
    		<result column="id" property="id"/>
    		<result column="p_point" property="p_point"/>
    		<result column="p_amount" property="p_amount"/>
    		<result column="p_realamount" property="p_realamount"/>
    		<result column="p_regdate" property="p_regdate"/>
    		<result column="p_method" property="p_method"/>
    		<result column="p_c_name" property="p_c_name"/>
    		<result column="p_c_num" property="p_c_num"/>
			<result column="p_c_quota" property="p_c_quota"/>
    		<result column="p_remains" property="p_remains"/>
    		<result column="P_RECEIPT" property="p_receipt"/>
    		<result column="p_c_apply" property="p_c_apply"/>
    		<collection property="orders" javaType="List" ofType="OrderDTO">
    			<id column="O_NUM" property="o_num"/>
    			<result column="L_NUM" property="l_num"/>
    			<result column="O_AMOUNT" property="o_amount"/>
    			<association property="refundDTO" javaType="RefundDTO">
    				<id column="pr_num" property="pr_num"/>
    				<result column="pr_amount" property="pr_amount"/>
    				<result column="pr_point" property="pr_point"/>
    				<result column="pr_regdate" property="pr_regdate"/>
    				<result column="pr_reason" property="pr_reason"/>
    			</association>
    			<association property="lectureDTO" javaType="LectureDTO">
    				<id column="l_num" property="l_num"/>
    				<result column="TEACHER" property="id"/>
    				<result column="l_name" property="l_name"/>
    				<result column="l_price" property="l_price"/>
    				<result column="l_date" property="l_date"/>
    			</association>
    		</collection>
    	</resultMap>

    	<select id="getPayDetail" parameterType="PaymentDTO" resultMap="allPaymentsResult">
    		select P.*, O.O_NUM, O.L_NUM, O.O_AMOUNT, L.ID TEACHER, L.LEVEL_NUM, L.L_NAME, L.L_PRICE, R.PR_NUM, R.PR_REASON, R.PR_AMOUNT, R.PR_POINT, R.PR_REGDATE
			FROM payments P
			left join ORDERS O
			on P.p_uid = O.P_UID
			left join Lecture L
			on O.l_num = L.l_num
			left join refund R
			on O.O_num = R.O_num
			where P.p_uid=#{p_uid}
    	</select>
    
    	<insert id="savePayment" parameterType="PaymentDTO">
    		insert into payments (p_uid, id, p_point, p_amount, p_realamount, p_regdate, p_method, p_c_name, p_c_num, p_c_quota, p_remains, p_at, P_RECEIPT, p_c_apply)
			values (#{p_uid}, #{id}, #{p_point}, #{p_amount}, #{p_realamount}, sysdate, #{p_method}, #{p_c_name}, #{p_c_num}, #{p_c_quota}, #{p_remains}, #{p_at}, #{p_receipt}, #{p_c_apply})
    	</insert>
    	
    	<insert id="saveOrder" parameterType="OrderDTO">
    		insert into ORDERS (O_NUM, L_NUM, P_UID, O_AMOUNT)
			values (order_seq.nextval,#{l_num},#{p_uid},#{o_amount}) 
    	</insert>
    	
    
    </mapper>