<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="com.seok.home.pay.PayDAO">
    
    	<select id="getteacherList" parameterType="TeacherPager" resultMap="teacherListResult">
    	            select O.P_UID, O.O_NUM, O.O_AMOUNT, P.ID as CUS, LS.ID, L.L_NUM,L.L_NAME, L.ID AS TEACHER, LS.S_START, LS.S_END, LS.STATUS from Orders O
                    left join Payments p
                    on P.p_uid = O.p_uid
                    left join Lecture L
                    on O.L_NUM = L.L_NUM
                    INNER join Lecture_sign LS
                    on L.L_NUM = LS.L_NUM and P.ID = LS.ID
                    where L.ID = 'sg';
    	</select>
    	<resultMap type="OrderDTO" id="teacherListResult">
    		<id column="O_NUM" property="o_num"/>
    		<result column="P_UID" property="p_uid"/>
   			<result column="L_NUM" property="l_num"/>
   			<result column="O_AMOUNT" property="o_amount"/>
   			<association property="lectureDTO" javaType="LectureDTO">
   				<id column="l_num" property="l_num"/>
   				<result column="TEACHER" property="id"/>
   				<result column="l_name" property="l_name"/>
   				<association property="lectureAddDTO" javaType="LectureAddDTO">
	   				<id column="s_num" property="s_num"/>
	   				<result column="S_START" property="S_START"/>
	   				<result column="S_END" property="S_END"/>
	   				<result column="STATUS" property="STATUS"/>
   				</association>
   			</association>
    	</resultMap>
    
    	<select id="getPaymentRemains" parameterType="PaymentDTO" resultType="Long">
    		select p_remains from payments where p_uid=#{p_uid}
    	</select>
    	
    	<update id="updatePaymentRemains" parameterType="PaymentDTO">
    		update payments set p_remains=#{p_remains}
            where p_uid=#{p_uid}
    	</update>
    
    	<insert id="saveRefund">
    		insert into REFUND (PR_NUM,	O_NUM,PR_REASON,PR_AMOUNT,PR_POINT,	PR_REGDATE,	P_UID)
    		values (#{pr_num}, #{o_num}, #{pr_reason}, #{pr_amount}, #{pr_point}, sysdate, #{p_uid})
    	</insert>
    	
    	<select id="getOrder" parameterType="OrderDTO" resultMap="getOrderResult">
    		select *
    		from orders O
    		left join Lecture L
    		on O.l_num = L.l_num
    		where O.O_NUM = #{o_num}
    	</select>
    	<resultMap type="OrderDTO" id="getOrderResult">
    		<id column="O_NUM" property="o_num"/>
    		<result column="P_UID" property="p_uid"/>
   			<result column="L_NUM" property="l_num"/>
   			<result column="O_AMOUNT" property="o_amount"/>
   			<association property="lectureDTO" javaType="LectureDTO">
   				<id column="l_num" property="l_num"/>
   				<result column="TEACHER" property="id"/>
   				<result column="l_name" property="l_name"/>
   				<result column="l_price" property="l_price"/>
   				<result column="l_date" property="l_date"/>
   			</association>
    	</resultMap>
    	
  		<sql id="search">
			<choose>
				<when test="kind == 'P_UID'">P.P_UID LIKE '%'||#{search}||'%'</when>
				<when test="kind == 'TEACHER'">L.ID = #{search}</when>
				<when test="kind == 'L_NAME'">L.L_NAME LIKE '%'||#{search}||'%'</when>
				<when test="kind == 'ID'">P.ID = #{search}</when>
				<otherwise>'a' = 'a'</otherwise>
			</choose>
		</sql>
		<sql id="orderby">
			<choose>
				<when test="orderby == 'old'">ORDER BY  P.P_REGDATE ASC</when>
				<when test="orderby == 'new'">ORDER BY  P.P_REGDATE DESC</when>
				<otherwise>ORDER BY P.P_REGDATE DESC</otherwise>
			</choose> 
		</sql>
    	<sql id="chkstatus">
			<choose>
				<when test="chkstatus == 'paid,canceled'">'a' = 'a'</when>
				<when test="chkstatus == 'canceled'">R.pr_num is not null</when>
				<when test="chkstatus == 'paid'">R.pr_num is null</when>
				<otherwise>'a' = 'a'</otherwise>
			</choose> 
		</sql>
		<select id="getPayAdminTotal" parameterType="AdminPager" resultType="Long">
    		select count(*)
			FROM payments P
			left join ORDERS O
			on P.p_uid = O.P_UID
			left join Lecture L
			on O.l_num = L.l_num
			left join refund R
			on O.O_num = R.O_num   
			where P.P_REGDATE between TO_DATE(#{startDate}||' 00:00:00','YYYY-MM-DD HH24:MI:SS')and TO_DATE(#{endDate}||' 23:59:59','YYYY-MM-DD HH24:MI:SS')
			and <include refid="search"></include>
			and <include refid="chkstatus"></include>
    	</select>
    	<select id="getPayAdminList" parameterType="AdminPager" resultMap="adminListResult">
    		select *
    		from (select rownum as rown, ADMINP.*
    			from(select P.*, O.O_NUM, O.L_NUM, O.O_AMOUNT, L.ID TEACHER, L.LEVEL_NUM, L.L_NAME, L.L_PRICE, R.PR_NUM
					FROM payments P
					left join ORDERS O
					on P.p_uid = O.P_UID
					left join Lecture L
					on O.l_num = L.l_num
					left join refund R
					on O.O_num = R.O_num   
					where P.P_REGDATE between TO_DATE(#{startDate}||' 00:00:00','YYYY-MM-DD HH24:MI:SS')and TO_DATE(#{endDate}||' 23:59:59','YYYY-MM-DD HH24:MI:SS')
					and <include refid="search"></include>
					and <include refid="chkstatus"></include>
					<include refid="orderby"></include>) ADMINP)
			where rown between #{startRow} and #{lastRow}
    	</select>
    	<resultMap type="PaymentDTO" id="adminListResult">
    		<id column="p_uid" property="p_uid"/>
    		<result column="id" property="id"/>
    		<result column="p_point" property="p_point"/>
    		<result column="p_amount" property="p_amount"/>
    		<result column="p_realamount" property="p_realamount"/>
    		<result column="p_regdate" property="p_regdate"/>
    		<result column="p_method" property="p_method"/>
    		<result column="p_c_name" property="p_c_name"/>
    		<result column="p_c_num" property="p_c_num"/>
			<result column="p_c_quota" property="p_c_quota"/>
    		<result column="p_remains" property="p_remains"/>
    		<result column="P_RECEIPT" property="p_receipt"/>
    		<result column="p_c_apply" property="p_c_apply"/>
    		<collection property="orders" javaType="List" ofType="OrderDTO">
    			<id column="O_NUM" property="o_num"/>
    			<result column="L_NUM" property="l_num"/>
    			<result column="O_AMOUNT" property="o_amount"/>
    			<result column="pr_num" property="pr_num"/>
    			<association property="lectureDTO" javaType="LectureDTO">
    				<id column="l_num" property="l_num"/>
    				<result column="TEACHER" property="id"/>
    				<result column="l_name" property="l_name"/>
    				<result column="l_price" property="l_price"/>
    				<result column="l_date" property="l_date"/>
    			</association>
    		</collection>
   		    <collection property="refunds" javaType="List"  ofType="RefundDTO">
   				<id column="pr_num" property="pr_num"/>
   			</collection>
    	</resultMap>
    
    	<select id="getPaymentList" parameterType="PaymentDTO" resultMap="allPaymentsResult">
    		select P.*, O.O_NUM, O.L_NUM, O.O_AMOUNT, L.ID TEACHER, L.LEVEL_NUM, L.L_NAME, L.L_PRICE, R.PR_NUM, R.PR_REASON, R.PR_AMOUNT, R.PR_POINT, R.PR_REGDATE
			FROM payments P
			left join ORDERS O
			on P.p_uid = O.P_UID
			left join Lecture L
			on O.l_num = L.l_num
			left join refund R
			on O.O_num = R.O_num
			where P.p_uid=#{p_uid}
    	</select>
    	<resultMap type="PaymentDTO" id="allPaymentsResult">
    		<id column="p_uid" property="p_uid"/>
    		<result column="id" property="id"/>
    		<result column="p_point" property="p_point"/>
    		<result column="p_amount" property="p_amount"/>
    		<result column="p_realamount" property="p_realamount"/>
    		<result column="p_regdate" property="p_regdate"/>
    		<result column="p_method" property="p_method"/>
    		<result column="p_c_name" property="p_c_name"/>
    		<result column="p_c_num" property="p_c_num"/>
			<result column="p_c_quota" property="p_c_quota"/>
    		<result column="p_remains" property="p_remains"/>
    		<result column="P_RECEIPT" property="p_receipt"/>
    		<result column="p_c_apply" property="p_c_apply"/>
    		<collection property="orders" javaType="List" ofType="OrderDTO">
    			<id column="O_NUM" property="o_num"/>
    			<result column="L_NUM" property="l_num"/>
    			<result column="O_AMOUNT" property="o_amount"/>
    			<result column="pr_num" property="pr_num"/>
    			<association property="lectureDTO" javaType="LectureDTO">
    				<id column="l_num" property="l_num"/>
    				<result column="TEACHER" property="id"/>
    				<result column="l_name" property="l_name"/>
    				<result column="l_price" property="l_price"/>
    				<result column="l_date" property="l_date"/>
    			</association>
    		</collection>
   		    <collection property="refunds" javaType="List"  ofType="RefundDTO">
   				<id column="pr_num" property="pr_num"/>
   				<result column="pr_amount" property="pr_amount"/>
   				<result column="pr_point" property="pr_point"/>
   				<result column="pr_regdate" property="pr_regdate"/>
   				<result column="pr_reason" property="pr_reason"/>
   			</collection>
    	</resultMap>

    	<select id="getPayDetail" parameterType="PaymentDTO" resultMap="allPaymentsResult">
    		select P.*, O.O_NUM, O.L_NUM, O.O_AMOUNT, L.ID TEACHER, L.LEVEL_NUM, L.L_NAME, L.L_PRICE, R.PR_NUM, R.PR_REASON, R.PR_AMOUNT, R.PR_POINT, R.PR_REGDATE
			FROM payments P
			left join ORDERS O
			on P.p_uid = O.P_UID
			left join Lecture L
			on O.l_num = L.l_num
			left join refund R
			on O.O_num = R.O_num
			where P.p_uid=#{p_uid}
    	</select>
    
    	<insert id="savePayment" parameterType="PaymentDTO">
    		insert into payments (p_uid, id, p_point, p_amount, p_realamount, p_regdate, p_method, p_c_name, p_c_num, p_c_quota, p_remains, p_at, P_RECEIPT, p_c_apply)
			values (#{p_uid}, #{id}, #{p_point}, #{p_amount}, #{p_realamount}, sysdate, #{p_method}, #{p_c_name}, #{p_c_num}, #{p_c_quota}, #{p_remains}, #{p_at}, #{p_receipt}, #{p_c_apply})
    	</insert>
    	
    	<insert id="saveOrder" parameterType="OrderDTO">
    		insert into ORDERS (O_NUM, L_NUM, P_UID, O_AMOUNT)
			values (order_seq.nextval,#{l_num},#{p_uid},#{o_amount}) 
    	</insert>
    	
    
    </mapper>