<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		    
<mapper namespace="com.seok.home.member.RoleDAO">

	<insert id="setAdmin" parameterType="RoleDTO">
		INSERT INTO ROLE(ROLENUM, ROLENAME)
		VALUES(1, '관리자')
	</insert>
	
	<insert id="setTeacher" parameterType="RoleDTO">
		INSERT INTO ROLE(ROLENUM, ROLENAME)
		VALUES(2, '강사')
	</insert>
	
	<insert id="setMember" parameterType="RoleDTO">
		INSERT INTO ROLE(ROLENUM, ROLENAME)
		VALUES(3, '회원')
	</insert>
	
</mapper>