<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		    
		    <mapper namespace="com.seok.home.s_board.StudyBoardDAO">
		    	<sql id="order">
		    		<choose>
		    			<when test="order == 'hits'">ORDER BY HIT DESC</when>
		    			<otherwise>ORDER BY SB_NUM DESC</otherwise>
		    		</choose>
		    	</sql>
		    	<sql id="answer">
		    		<choose>
		    			<when test="answer == 'wait'">ANSWER LIKE 0</when>
		    			<when test="answer == 'finish'">ANSWER LIKE 1</when>
		    			<otherwise>'a'='a'</otherwise>
		    		</choose>
		    	</sql>
		    	<sql id="kind">
		    		<choose>
		    			<when test="kind == 'java'">CATEGORY LIKE '%JAVA%'</when>
		    			<when test="kind == 'spring'">CATEGORY LIKE '%SPRING%'</when>
		    			<when test="kind == 'javascript'">CATEGORY LIKE '%JAVASCRIPT%'</when>
		    			<when test="kind == 'html'">CATEGORY LIKE '%HTML%'</when>
		    			<when test="kind == 'css'">CATEGORY LIKE '%CSS%'</when>
		    			<otherwise>'a'='a'</otherwise>
		    		</choose>
		    	</sql>
		    
		    	<select id="getBoardList" parameterType="Pager" resultType="StudyBoardDTO">
		    		SELECT * FROM (
		    			SELECT ROWNUM R, N.* FROM (
		    				SELECT * FROM 
								(SELECT SB.*, MF.F_NAME FROM STUDY_BOARD SB
							    LEFT JOIN
							    MEMBER_FILE MF
							    ON SB.ID = MF.ID)
		    				WHERE TITLE LIKE '%'||#{search}||'%'
		    				and <include refid="answer"></include>
		    				and <include refid="kind"></include>
		    				<include refid="order"></include>
		    				)N)
		    		WHERE R BETWEEN #{startRow} AND #{lastRow}
		    	</select>
		    	
		    	<select id="getTotalCount" parameterType="Pager" resultType="Long">
		    		SELECT COUNT(sb_num) FROM STUDY_BOARD
		    	</select>
		    	
		    	<select id="getBoardDetail" parameterType="StudyBoardDTO" resultType="StudyBoardDTO">
		    		SELECT * FROM(SELECT SB.*, MF.F_NAME  FROM STUDY_BOARD SB
						    LEFT JOIN
						    MEMBER_FILE MF
						    ON SB.ID = MF.ID) 
					WHERE SB_NUM=#{sb_num}
		    	</select>
		    	
<!-- 		    	<resultMap type="StudyBoardDTO" id="getBoardDetailResult">
		    		<id column="SB_NUM" property="sb_num"/>
		    		<result column="L_NUM" property="l_num"/>
		    		<result column="ID" property="id"/>
		    		<result column="TITLE" property="title"/>
		    		<result column="REG_DATE" property="reg_date"/>
		    		<result column="ANSWER" property="answer"/>
		    		<result column="HIT" property="hit"/>
		    		<result column="CONTENTS" property="contents"/>
		    		<result column="CATEGORY" property="category"/>

		    		<association property="boardFileDTO" javaType="BoardFileDTO">
		    			<id column="NUM" property="num"/>
		    			<result column="F_NAME" property="f_name"/>
		    		</association>
		    	</resultMap> -->
		    	
		    	<insert id="setBoardAdd" parameterType="StudyBoardDTO">
		    		<selectKey order="BEFORE" keyProperty="sb_num" resultType="Long">
		    			SELECT BOARD_SEQ.NEXTVAL FROM DUAL
		    		</selectKey>
			    	INSERT INTO study_board
					VALUES (#{sb_num}, #{l_num}, #{id}, #{title}, SYSDATE, #{answer}, #{hit}, #{contents}, #{category})
		    	</insert>
		    		
		    	<delete id="setBoardDelete" parameterType="StudyBoardDTO">
		    		DELETE FROM STUDY_BOARD WHERE SB_NUM= #{sb_num}
		    	</delete>
		    	
		    	<update id="setBoardUpdate" parameterType="StudyBoardDTO">
		    		UPDATE STUDY_BOARD SET TITLE=#{title}, CONTENTS=#{contents} WHERE SB_NUM=#{sb_num}
		    	</update>
		    	
		    	<update id="setBoardHit" parameterType="StudyBoardDTO">
		    		UPDATE STUDY_BOARD SET HIT=HIT+1 WHERE SB_NUM=#{sb_num}
		    	</update>
		    	
		    	<!-- 게시판 파일 등록 -->
		    	<insert id="setBoardFile" parameterType="BoardFileDTO">
		    		INSERT INTO BOARDFILE VALUES (FILE_SEQ.NEXTVAL, #{sb_num}, #{f_name}, #{f_oriname})
		    	</insert>
		   	   		    	
		   	   	<!-- 게시판 댓글 수 -->	    	
		    	<select id="getCount" parameterType="StudyBoardDTO" resultType="Long">
		    		SELECT COUNT(NUM) FROM SB_COMMENT WHERE SB_NUM=#{sb_num} AND REF=1
		    	</select>
		    	
		    	<!-- 댓글상태 -->
		    	<update id="setAnsewer" parameterType="StudyBoardDTO">
		    		UPDATE STUDY_BOARD SET answer=answer+1 WHERE SB_NUM=#{sb_num}
		    	</update>
		    	
		    	<update id="setAnsewerDefault" parameterType="StudyBoardDTO">
		    		UPDATE STUDY_BOARD SET answer=0 WHERE SB_NUM=#{sb_num}
		    	</update>
		    	
		    	<select id="getMyBoardList" parameterType="StudyBoardDTO" resultType="StudyBoardDTO">
		    		SELECT * FROM STUDY_BOARD WHERE ID = #{id}
		    	</select>

		    </mapper>