<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		    
		    <mapper namespace="com.seok.home.s_board.StudyBoardDAO">
		    	<select id="getBoardList" parameterType="Pager" resultType="StudyBoardDTO">
		    		SELECT * FROM (
		    			SELECT ROWNUM R, N.* FROM (
		    				SELECT * FROM STUDY_BOARD ORDER BY SB_NUM DESC
		    				)N
		    			)
		    		WHERE R BETWEEN #{startRow} AND #{lastRow}
		    	</select>
		    	
		    	<select id="getTotalCount" parameterType="Pager" resultType="Long">
		    		SELECT COUNT(sb_num) FROM STUDY_BOARD
		    	</select>
		    	
		    	<select id="getBoardDetail" parameterType="StudyBoardDTO" resultType="StudyBoardDTO">
		    		SELECT * FROM STUDY_BOARD WHERE SB_NUM=#{sb_num}
		    	</select>
		    	
		    	<insert id="setBoardAdd" parameterType="StudyBoardDTO">
			    	INSERT INTO study_board
					VALUES (BOARD_SEQ.NEXTVAL, #{l_num}, #{id}, #{title}, SYSDATE, #{answer}, #{hit}, #{contents}, #{category})
		    	</insert>
		    		
		    	<delete id="setBoardDelete" parameterType="StudyBoardDTO">
		    		DELETE FROM STUDY_BOARD WHERE SB_NUM= #{sb_num}
		    	</delete>
		    	
		    	<update id="setBoardUpdate" parameterType="StudyBoardDTO">
		    		UPDATE STUDY_BOARD SET TITLE=#{title}, CONTENTS=#{contents} WHERE SB_NUM=#{sb_num}
		    	</update>
		    	
		    	<update id="setBoardHit" parameterType="StudyBoardDTO">
		    		UPDATE STUDY_BOARD SET HIT=HIT+1 WHERE SB_NUM=#{sb_num}
		    	</update>
		   	   		    	
		   	   	<!-- 게시판 댓글 수 -->	    	
		    	<select id="getCount" parameterType="StudyBoardDTO" resultType="Long">
		    		SELECT COUNT(NUM) FROM SB_COMMENT WHERE SB_NUM=#{sb_num} AND REF=1
		    	</select>
		    	
		    	<!-- 댓글상태 -->
		    	<update id="setAnsewer" parameterType="StudyBoardDTO">
		    		UPDATE STUDY_BOARD SET answer=answer+1 WHERE SB_NUM=#{sb_num}
		    	</update>
		    	
		    	<update id="setAnsewerDefault" parameterType="StudyBoardDTO">
		    		UPDATE STUDY_BOARD SET answer=0 WHERE SB_NUM=#{sb_num}
		    	</update>

		    </mapper>