<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		    
		    <mapper namespace="com.seok.home.lecture.teacher.TeacherDAO">
		    	<insert id="setTeacherAdd" parameterType="TeacherDTO">
		    		/* 강사 데이터 추가 */
		    		<selectKey keyProperty="t_num" order="BEFORE" resultType="Long">
						SELECT TEACHER_SEQ.NEXTVAL FROM DUAL
					</selectKey>
		    		INSERT INTO TEACHER(T_NUM, ID, BANK_NUM, BANK_NAME, INTRODUCE)
					VALUES(#{t_num},#{id}, #{bank_num},#{bank_name},#{introduce})
		    	</insert>
		    	
		    	<insert id="setTeacherRole" parameterType="MemberDTO">
					/* 강사 등급 데이터 추가 */
					INSERT INTO MEMBER_ROLE(R_NUM, ROLENUM, ID)
					VALUES(MEMBER_ROLE_SEQ.NEXTVAL, 2, #{id})
				</insert>
		    	
		    	<update id="setTeacherUpdate" parameterType="TeacherDTO">
		    		UPDATE TEACHER SET BANK_NUM = #{bank_num}, BANK_NAME=#{bank_name}, INTRODUCE=#{introduce}
		    		WHERE T_NUM = #{t_num}
		    	</update>
		    	
		    	<select id="getTeacherDetail" parameterType="TeacherDTO" resultType="TeacherDTO">
		    		/* 강사 데이터 조회 */
		    		SELECT * FROM TEACHER WHERE ID = #{id}
		    	</select>
		    	
		    	<select id="getTeacher" resultType="TeacherDTO">
		    		SELECT * FROM TEACHER
		    	</select>
		    	
		    	<select id="getTeacherCheck" parameterType="TeacherDTO" resultType="TeacherDTO">
		    		SELECT * FROM TEACHER WHERE ID = #{id}
		    	</select>
		    </mapper>
		    